body {
    font: 1em sans-serif;
    background-color: rgb(14, 14, 14);
}

.full-center{
    margin: auto;
}

.header{
    display:flex;
    flex: 1;  
}

.top-bar {
    height: 250px;
    width: 800px;
    background-color: #1F2937;
    box-sizing: border-box;
    align-items: center;

}

.title {
   color:#F9FAF8;
   font-size: 24px;
   font-weight: bold;
   padding: 8px 100px;
   margin-bottom: 30px;
}

#nav {
   display: flex;
   margin-left: 210px;
   margin-right: auto;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
    padding: 14px 8px;
    
}


.bigtextbox {
    display: flex;
    font-size: 42px;
    font-weight: 900;
    color: #F9FAF8;
    text-wrap: wrap;
    width: 300px;
    padding: 0px 100px;
}

.littletextbox {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 100px;
}

#sign-up {
    background-color: #3662F6;
    color:white;
    font-weight: bold;
    border: 0px;
    padding: 2px 16px;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 5px;
 }

.img {
    display: flex;
     width: 275px;
     height: 150px;
    margin-left: 424px;
    margin-top: -145px;
   
}
/*css for 2nd white border box*/
.middle-bar {
    height: 250px;
    width: 800px;
    background-color:white;
    box-sizing: border-box;
    
}

.middle-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding:10px
}

.ill {
    width: 80px;
    height: 80px;
    border: 3px solid #3662F6;
    border-radius: 5px;
}

.flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.para {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-left: 18px;  
} 

.text { 
    width: 100px; 
    font-size: 12px; 
    font-style: italic;
    color: grey;  
}

/*css for 3rd grey border box*/

.grey-bar {
    height: 250px;
    width: 800px;
    background-color:#E5E7EB;
    box-sizing: border-box;
}

.space{
    padding: 24px;
}

.grey-para {
    color: #1F2937;
    font-style: italic;
    font-size: 18px;
    display: flex;
    width: 600px;
    margin-left: 100px;
}

.name {
    color:#1F2937;
    font-weight: bold;
    display:flex;
    justify-content: flex-end;
    margin-right: 120px;
    
}
/* Last white border box*/

.final-white-bar {
    height: 180px;
    width: 800px;
    background-color: #F9FAF8;
    box-sizing: border-box;
}

.space2 {
    padding: 24px;
}

.blue-block {
    background-color: #3662F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 150px;
    padding: 10px;
    border-radius: 5px;
}

.bold-text {
    color:#F9FAF8;
    
}

.under-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color:#F9FAF8;
}

#sign-up2 {
    background-color: #3662F6;
    color:white;
    font-weight: bold;
    border: 1px solid #F9FAF8;
    padding: 5px;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 0px;
}

/* bottom slim border box*/

.bottom-bar {
    height: 50px;
    width: 800px;
    background-color:#1F2937;
    box-sizing: border-box;
}

.bottom-text {
    display:flex;
    color: #E5E7EB;
    justify-content: center;
    padding: 14px;
}